<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 

    <h1>Sistema de registro con Sequelize</h1>

    <%- include('partials/footer') %> 
    
</body>
</html>